<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Buy Cart</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item style="overflow-y:scroll!important;" *ngFor="let pr of masterBarangBasketBuy; let i = index;">
        <ion-label>
          <h3>{{pr.barang_nama}}</h3>
          <p>{{pr.barang_deskripsi}}</p>
          <p>Harga Beli : Rp. {{thousandSeparator(pr.barang_hargabeli_baru)}}</p>
          <p>Jumlah Barang : {{pr.amount}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-app>
