<ion-app>
  <ion-header slot="fixed">
    <ion-toolbar color="dark">
      <ion-title>Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <h3 [ngStyle]="{'margin-left':'0.7em'}">Nama : {{penjual_nama}}</h3>
    <h3 [ngStyle]="{'margin-left':'0.7em'}">Username : {{penjual_username}}</h3>
    <h3 [ngStyle]="{'margin-left':'0.7em'}">Tanggal Masuk : {{penjual_tanggalmasuk}}</h3>
    <h3 [ngStyle]="{'margin-left':'0.7em'}">Role : {{role}}</h3>

    <ion-item>
      <ion-label position="stacked">Old Password</ion-label>
      <ion-input [(ngModel)]="penjual_password_lama" name="password_lama" placeholder="Old Password"
        [type]="showPassword[0] ? 'text' : 'password'"></ion-input>
      <ion-icon slot="end" [name]="passwordToggleIcon[0]" (click)="togglePassword(0)"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">New Password</ion-label>
      <ion-input [(ngModel)]="penjual_password_baru" name="password_baru" placeholder="New Password"
        [type]="showPassword[1] ? 'text' : 'password'"></ion-input>
      <ion-icon slot="end" [name]="passwordToggleIcon[1]" (click)="togglePassword(1)"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">New Password Repeat</ion-label>
      <ion-input [(ngModel)]="penjual_password_baru_repeat" name="password_baru_repeat"
        placeholder="New Password Repeat" [type]="showPassword[2] ? 'text' : 'password'"></ion-input>
      <ion-icon slot="end" [name]="passwordToggleIcon[2]" (click)="togglePassword(2)"></ion-icon>
    </ion-item>
  </ion-content>
  <!-- create button save -->
  <ion-footer>
    <ion-toolbar>
      <ion-button expand="block" (click)="editProfile()">Save</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-app>
