<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      test
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div *ngIf="isAdmin">
    <ion-header collapse="condense">
      <ion-toolbar color="dark">
        <ion-title>Master</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-button routerLink='/masterbarang' expand="block" style="margin: 4%">Barang</ion-button>
    <ion-button routerLink='/masterpenjual' expand="block" style="margin: 4%">User</ion-button>
    <ion-button routerLink='/mastersupplier' expand="block" style="margin: 4%">Supplier</ion-button>
  </div>

  <!-- <div id="container">
    <strong>Ready </strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->

</ion-content>
