<!-- <ion-header>
  <ion-toolbar color="dark">
    <ion-title>Master Penjual</ion-title>
    <ion-icon style="zoom:2.0;" name="add-circle-outline" slot="end" routerLink="/insertnewpenjual"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-toolbar>

  <ion-searchbar style="margin-top:4%" (ionChange)=searchFunction() [(ngModel)]="searchText"></ion-searchbar>
</ion-toolbar>
<ion-list>
  <ion-item style="overflow-y:scroll!important;" *ngFor="let pr of masterPenjual; let i = index;"
    routerLink='/detailmasterpenjual/{{pr.penjual_id}}' ion-long-press (pressed)="handleButtonPress(i)">
    <ion-label>
      <h3>{{pr.penjual_nama}}</h3>
      <p>{{pr.role}}</p>
    </ion-label>
  </ion-item>
</ion-list> -->

<ion-app>
  <ion-header slot="fixed">
    <ion-toolbar color="dark">
      <ion-title>Master User</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar style="margin-top:4%" (ionChange)=searchFunction() [(ngModel)]="searchText"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
        refreshingSpinner="circles" refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
    <ion-list>
      <ion-item style="overflow-y:scroll!important;" *ngFor="let pr of masterPenjual; let i = index;"
        routerLink='/updatemasterpenjual/{{pr.penjual_id}}' ion-long-press (pressed)="handleButtonPress(i)">
        <!-- routerLink='/detailmasterpenjual/{{pr.penjual_id}}' -->
        <ion-label>
          <h3>{{pr.penjual_nama}}</h3>
          <p>{{pr.role}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button routerLink="/insertnewpenjual">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-app>
